<!-- Search Results Page -->
<div class="container" id="result-page">
    <!-- Nav Section -->
    <nav class="columns is-vcentered mt-5" id="navigation">
        <!-- Logo and Title -->
        <div class="mt-0 mb-0 p-0 column is-4 is-flex is-flex-wrap-wrap is-justify-content-start" id="logo">
            <div class="image has-text-right">
                <img class="is-rounded" src="/images/Logo Vector.svg" id="logo-image-2">
            </div>
            <div class="pl-3 is-flex is-justify-content-center">
                <a href="/" class="is-size-4" id="logo-text">streamability</a>
            </div>
        </div>
        {{#if loggedIn}}
            <button class="button m-1 is-rounded" id="logout-btn">Logout</button>
            <button class="button m-1 is-rounded" id="dashboard-btn"><a href="/dashboard">Dashboard</a></button>
        {{else}}
            <button class="button m-1 is-rounded" id="signup-btn"><a href="/signup">Sign Up</a></button>
            <button class="button m-1 is-rounded" id="login-btn"><a href="/login">Login</a></button>
        {{/if}}
        <form class="column field has-addons" id="search-form">
            <div class="control is-expanded">
                <input class="input is-primary is-rounded" id="user-input" type="text" placeholder="What're you lookin' for?">
            </div>
            <div class="control">
                <button class="button is-primary is-rounded" id="form-submit" type="submit">Search</button>
            </div>
        </form>
    </nav>
    <!-- Search Result Details Section -->
    <section id="result-details">
        <div class="columns is-centered m-5 box">
            <div class="column is-4 has-text-centered">
                <p class="title" id="selected-title">{{info.original_title}}</p>
                <p class="is-inline">Released:</p>
                <p class="is-inline" id="selected-year">{{info.release_date}}</p>
                <p id="selected-id" class="is-hidden">{{info.id}}</p>
                <p class="subtitle" id="selected-score">{{info.vote_average}}</p>
                <figure class="image is-3by4">
                    <img src={{#if info.poster_path}}"https://image.tmdb.org/t/p/w500{{info.poster_path}}"{{else}}src="https://via.placeholder.com/900x1200.png?text=Movie+Poster"{{/if}} id="selected-poster">
                </figure>
            </div>
            <div class="column has-text-justified is-vcentered m-5 is-flex is-flex-direction-column is-justify-content-space-around">
                <!-- Plot summary -->
                <p class="is-size-5 box" id="selected-plot">{{info.overview}}</p>
                <!-- Streaming service icons -->
                <div class="box" id="providers-box">
                    <div class="columns is-multiline is-flex is-flex-wrap-wrap is-justify-content-space-around" id="selected-providers">
                        {{#each providers}}
                            {{> provider-card}}
                        {{/each}}
                    </div>
                </div>
                <button class="button is-large is-fullwidth is-rounded is-link is-light is-multiline" id="queue-button">Add to Watch Queue</button>
            </div>
        </div>
    </section>
    <!-- Suggestions and Queue, Non-Landing Section -->
    <section class="is-centered p-5 mb-6" id="suggestions-and-queue">
        <div class="columns is-centered has-text-centered">
            <!-- Suggestions -->
            <div class="column is-4" id="suggestion">
                <div class="message is-link">
                    <p class="message-header is-size-4" id="suggestions-header">You might also like...</p>
                    <div class="message-body scrolly" id="suggestion-container">
                        {{#each suggestions}}
                            {{> suggestion-card}}
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="column is-1"></div>
            <!-- Watch Queue -->
            <div class="column is-6">
                <div class="message is-primary">
                    <p class="message-header is-size-4" id="queue-header">Your Queue<button class="button is-rounded" id="delete-all-queue">Clear Queue</button></p>
                    <div class="message-body" id="search-queue">
                        <!-- These divs are all individual movies/shows -->
                        <div class="is-flex is-align-items-center">
                            {{#each queue}}
                                {{> queue-card}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Search Results Modal -->
    <section class="modal" id="search-results-modal">
        <!-- Grey background that closes modal when clicked on -->
        <div class="modal-background"></div>
        <!-- Modal content -->
        <div class="modal-content">
            <div class="message is-warning" id="modal-content-container">
                <p class="message-header is-size-5" id="modal-header">Search Results</p>
                <div class="message-body scrolly" id="search-results"></div>
            </div>
        </div>
        <!-- Modal close button in upper-right -->
        <button class="modal-close is-large" id="modal-close" aria-label="close"></button>
    </section>
</div>

{{> footer}}

<script src="/js/info.js"></script>
<script src="/js/search.js"></script>